

body {
    margin: 6em 2em;


  background-repeat: no-repeat;
    background: #39393A;  /* Para navegadores antiguos */
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask5038%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M24.11 270C24.11 250.1 1.9 254.81 0 233.51C-10.15 119.81 -48.54 68.22 0 0C34.54 -48.54 90.08 -21.43 166.15 0C225.08 16.6 220.72 76.06 270 76.06C311.78 76.06 299.29 13.79 348.26 0C434.29 -24.24 444.13 0 540 0C675 0 675 0 810 0C930.79 0 933.39 -8.44 1051.58 0C1068.39 1.2 1065.96 19.29 1080 19.29C1093.34 19.29 1090.39 1.14 1106.34 0C1225.39 -8.51 1228.17 0 1350 0C1485 0 1485 0 1620 0C1755 0 1755 0 1890 0C2025 0 2092.5 -67.5 2160 0C2227.5 67.5 2160 135 2160 270C2160 405 2160 405 2160 540C2160 590.63 2174.81 641.25 2160 641.25C2142.41 641.25 2142.86 572.02 2095.2 540C2007.86 481.32 1993.99 459.84 1890 459.84C1763.14 459.84 1633.5 482.5 1633.5 540C1633.5 605.32 1763.16 620.66 1890 705.48C1965.04 755.66 1967.7 752.82 2037.27 810C2102.7 863.77 2127.68 856.28 2160 927.39C2189.04 991.28 2208.75 1052.45 2160 1080C2073.75 1128.75 2025 1080 1890 1080C1755 1080 1755 1080 1620 1080C1529.33 1080 1512.5 1113.15 1438.66 1080C1377.5 1052.54 1404.03 1009.84 1350 958.78C1261.18 874.84 1252.66 882.73 1152.97 810C1117.66 784.24 1119.79 761.79 1080 761.79C1008.31 761.79 991.65 766.11 930 810C856.65 862.22 878.29 890.82 810 954C732.38 1025.82 730.6 1036.87 638.18 1080C595.6 1099.87 589.09 1080 540 1080C405 1080 405 1080 270 1080C135 1080 67.5 1147.5 0 1080C-67.5 1012.5 0 945 0 810C0 675 0 675 0 540C0 442.5 -8.59 441.15 0 345C3.47 306.15 24.11 305.85 24.11 270' stroke='rgba(188%2c 48%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M270 786.52C259.74 786.52 244.29 800.85 244.29 810C244.29 817.17 258.09 819.15 270 819.15C275.86 819.15 279.82 815.63 279.82 810C279.82 799.32 277.5 786.52 270 786.52' stroke='rgba(188%2c 48%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M144.64 270C144.64 207.49 204.01 171.13 270 171.13C350.26 171.13 362.71 209.67 437.14 270C497.71 319.1 473.74 385.77 540 390C660.17 397.68 678.07 347.12 810 293.82C826.57 287.12 837 285.12 837 270C837 239.46 841.23 213.86 810 202.5C692.73 159.86 647.93 222.06 540 162C465.98 120.81 446.09 53.95 446.09 0C446.09 -27.05 493.05 0 540 0C675 0 675 0 810 0C841.97 0 846.36 -14.29 873.95 0C981.36 55.62 985.33 60.38 1080 139.82C1146.21 195.38 1133.31 209.56 1195.71 270C1268.31 340.32 1272.59 335.99 1350 401.35C1432.48 470.99 1504.01 453.17 1515.48 540C1531.01 657.49 1473.61 691.79 1404 810C1390.87 832.3 1375.75 821.02 1350 821.02C1341.46 821.02 1343.02 815.07 1335.41 810C1208.02 725.18 1217.27 666.23 1080 641.25C954.57 618.42 934.01 658.11 810 714.37C748.01 742.49 759.3 762.51 708 810C624.3 887.47 621.31 884.45 540 964.29C483.82 1019.45 499.38 1051.56 433.02 1080C364.38 1109.42 351.51 1080 270 1080C135 1080 73.83 1141.17 0 1080C-61.17 1029.32 -59.86 888.75 0 856.29C75.14 815.53 147.66 947.63 270 933.56C348.94 924.48 393.78 886.68 402.55 810C416.28 689.9 370.09 667.18 315 540C303.82 514.18 285.19 528.08 270 504C200.01 393.08 144.64 373.93 144.64 270' stroke='rgba(188%2c 48%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M36.35 0C36.35 16.17 10.02 51.08 0 51.08C-8.16 51.08 -10.62 14.92 0 0C7.56 -10.62 36.35 -9.37 36.35 0' stroke='rgba(188%2c 48%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1350 67.5C1302.03 64.75 1270.98 19.17 1270.98 0C1270.98 -14.58 1310.49 0 1350 0C1485 0 1485 0 1620 0C1755 0 1755 0 1890 0C2025 0 2092.5 -67.5 2160 0C2227.5 67.5 2160 135 2160 270C2160 362.95 2212.91 439.37 2160 455.9C2077.91 481.56 2019.26 416 1890 354.38C1824.26 323.05 1815.19 325.96 1770 270C1680.19 158.77 1728.23 72.18 1620 20C1518.23 -29.07 1476.54 74.75 1350 67.5' stroke='rgba(188%2c 48%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1539.4 1080C1539.4 1010.41 1543.71 923.43 1620 887.14C1719.01 840.05 1772.66 862.02 1890 913.24C1993.57 958.45 2061.82 1031.46 2061.82 1080C2061.82 1114.84 1975.91 1080 1890 1080C1755 1080 1755 1080 1620 1080C1579.7 1080 1539.4 1106.84 1539.4 1080' stroke='rgba(188%2c 48%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M265.18 270C265.18 267.6 267.46 266.2 270 266.2C273.09 266.2 276.43 267.42 276.43 270C276.43 273.82 272.93 279 270 279C267.3 279 265.18 274 265.18 270' stroke='rgba(188%2c 48%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1062 270C1062 260.93 1071.86 260.36 1080 260.36C1085.14 260.36 1088.57 263.78 1088.57 270C1088.57 313.6 1086.59 360 1080 360C1073.31 360 1062 310.75 1062 270' stroke='rgba(188%2c 48%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1890 220C1816.11 116.83 1758 72.63 1758 0C1758 -37.37 1824 0 1890 0C2025 0 2092.5 -67.5 2160 0C2227.5 67.5 2160 135 2160 270C2160 307.63 2186.43 345.25 2160 345.25C2082.11 345.25 2050.85 316.15 1951.36 270C1915.85 253.53 1912.79 251.83 1890 220' stroke='rgba(188%2c 48%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M662.73 540C662.73 519.4 736.05 492.35 810 492.35C890.68 492.35 972 519.44 972 540C972 560.14 890.83 573.75 810 573.75C736.2 573.75 662.73 560.1 662.73 540' stroke='rgba(188%2c 48%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1143.53 540C1143.53 505.12 1252.46 492.57 1350 492.57C1384 492.57 1406.61 511.32 1406.61 540C1406.61 583.78 1393.48 637.5 1350 637.5C1261.94 637.5 1143.53 577.59 1143.53 540' stroke='rgba(188%2c 48%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M525.27 810C525.27 761.59 531.84 708.75 540 708.75C548.2 708.75 558 762.42 558 810C558 821.31 548.59 826.53 540 826.53C532.22 826.53 525.27 820.48 525.27 810' stroke='rgba(188%2c 48%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 1049.14C121.15 1034.77 140.21 1034.87 270 1047.97C293.04 1050.3 305.66 1070.82 305.66 1080C305.66 1086.83 287.83 1080 270 1080C135 1080 121.15 1093.85 0 1080C-13.85 1078.42 -13.85 1050.78 0 1049.14' stroke='rgba(188%2c 48%2c 48%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask5038'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

  }

  .tree {
    margin: 0 auto;
    text-align: center;
    width: 70%;
    max-width: 800px;
  }
  .tree .username {
    font-weight: 700;
  
    margin-bottom: 1em;
  }
  .tree .links a {
    margin: 1em auto;
  }
  .tree .footer {
    margin: 2rem;
  }
  .tree .profile-pic {
    width: 180px;
    border-radius: 50%;
    text-align: center;
  }
  a.btn {
    background-color: transparent;
    backdrop-filter: blur(10px);
    font-weight: 700;
    border: solid 3px;
    font-size: 1.4rem;
  }
  .header {
    padding-top: 1.5em;
  }
  .footer {
 text-align: center;
 font-size: small;
 font-weight: 600;
  }
#twitch {
  color: #8C44F7;
}
#instagram {
 color: #F70888;
}
#twitter {
  color: #1DA1F2;
}
#youtube {
  color: #FF0000;
}
a:hover {
box-shadow: 0px 0px 4px white,
1px 1px 8px white;
text-shadow: 0px 0px 4px black;
}
.footer{
  color: gray;
}
.rise {
	text-shadow: -0.01em -0.01em 0.01em #000;
	animation: rise 2s ease-in-out 0.5s forwards;
}

@keyframes rise {
	to {
		text-shadow: 0em 0.01em #FF0000, 0em 0.02em #FF0000, 0em 0.02em 0.03em #ff5,
			-0.01em 0.01em #000, -0.02em 0.02em #333, -0.03em 0.03em #333,
			-0.04em 0.04em #333, -0.01em -0.01em 0.03em #000, -0.02em -0.02em 0.03em #000,
			-0.03em -0.03em 0.03em #000;
		transform: translateY(-0.025em) translateX(0.04em);
	}
}

.outline {
	background-clip: text;
	color: #ffdd40;
	animation: outline 1s ease-in-out 1.5s forwards;
}

@keyframes outline {
	from {
		text-shadow: 0em -7em 10em #fff;
	}
	to {
		text-shadow: 0 0.02em #FF0000, 0.02em 0 #FF0000, -0.02em 0 #fff, 0 -0.02em #fff;
	}
}
.username{
  font-size: 2rem;
}
